html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #271d14;
    font-family: "Roboto",sans-serif;
    background-image: url(/img/fondmonde.jpg);
    background-repeat:repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}


.navbar-menu{
    background-color:black;
    border-color:#e7e7e7;
    width: 100%;
    margin:auto;



}


.ak-idbar{

    display:block;
    background-color: black;
    min-height: 35px;



}


.ak-idbar a {

    font-size: 12px;
    line-height: 32px;
    float: right;
    text-decoration: none;
    color: #b6b6b6;
    border-left: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;


}

.ak-idbar a:hover{
    background-color: #303030;
}

.img-responsive {
    max-height: 27px;
    max-width: 27px;
    border: 1px solid;
    float: right;

}




.navbar-nav{

    display: flex;
    padding: 1.5%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    list-style-type: none;
    font-size: 17px;
    border-top: 3px solid #96a702;
    justify-content: center;

}
.navbar-nav a{
    text-decoration: none;
    color:white;
    font-family: "bebas_neueregular",sans-serif;

}
.navbar-nav a:hover{
    color: #97A801;
}

.navbar-nav li{

    width: 10%;
    flex-wrap: nowrap;
}



#logo-nav{
    float:left;
    width: 300%;
    height: auto;
    margin: auto;
}



#corps {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    width:85%;
    margin: auto;
    min-height : 400px;
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #333;
    justify-content: center;
    background: none repeat scroll 0 0 rgba(255,255,255,0.3);

}

#pannel-co {



    width: 22%;
    margin: auto;
    min-height: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    background-color: #02c3d2;
}

#pannel-co p {
    text-align: center;

}
.pannel-co-date{
    color: #303030;
}

#main-page,#main-page-center,#main-page-large{
    opacity: 1;
}
#main-page {

    width: 70%;
    margin:auto;
    margin-left:2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f1f1f1;

    min-height: 300px;



}

#main-page-large{
    width: 90%;
    margin: 2%;
    background-color: #f1f1f1;
    min-height: 300px;

}

#main-page-error{

    display: flex;
    width: 70%;
    max-height: 500px;
    margin-left:-25%;

    margin-top: 2%;
    margin-bottom: 2%;
    background: none;

}

#main-page-center{
    width: 60%;
    margin: auto;
    background-color: #f1f1f1;
    color:black;
    min-height: 300px;
    text-align: center;
}

#main-page-center h1{

    font-weight: bold;
    font: bold 20px "Lato",sans-serif;
    text-align: center;
}

#main-page p {
    color:black;
    text-align: center;
}

footer {

    min-height: 100px;
    min-width: 100%;
    background-color: black;
    text-align: center;
    color:white;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

}

#form-inscription {
    width: 40%;
    margin:auto;
    color: #735c3e;;

}

#form-inscription input[type="text"]{

    background: #fff;
    border-radius: 0;
    height: 40px;
    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;
    color: #555;
    width: 90%;
    margin-top: 2%;
    font-weight: bold;
}
#form-inscription input[type="password"]{

    background: #fff;
    border-radius: 0;
    height: 40px;
    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;
    color: #555;
    width: 90%;
    margin-top: 2%;
}

#form-inscription input:focus{
    background-color: #edeae0;
    box-shadow: none;
}

.button-inscription {

    box-shadow: 0 2px 2px 0 #000000;
    background: linear-gradient(to bottom, #c8e014 1%, #bce254 7%, #b5e03e 14%, #a4b921 41%, #a4b921 52%, #a4b921 88%, #b5e03e 99%);
    color: #fff;
    text-shadow: 0 1px 1px #333;
    transition: all 0.3s ease;
    font-size: 17px;
    border: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    /* width: 28px; */
    /* text-align: center; */
}
.button-inscription:focus{
    background: linear-gradient(to bottom, #d1eb09 1%, #c3f244 7%, #bdf12d 14%, #b2cb0f 41%, #b2cb0f 52%, #b2cb0f 88%, #bdf12d 99%);
}
.button-inscription:hover{
    background: linear-gradient(to bottom, #d1eb09 1%, #c3f244 7%, #bdf12d 14%, #b2cb0f 41%, #b2cb0f 52%, #b2cb0f 88%, #bdf12d 99%);
}









.button-connexion {

    background-color: #97A800;
    text-shadow: 0 1px 1px #333;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    padding: 0.2rem 1rem;
}
.button-connexion:hover{
    background-color: #bfd500;
}

#bar-account h1 {
    background-color: none;
    border-top: 2px solid #f45c20;
    border-bottom: 2px solid #e8e8e8;
    color:#F45C20; ;

    min-height: 30px;
    margin-top:1%;
    margin-left:6%;

    text-transform: uppercase;
    font-family: "Lato",sans-serif;
    padding: 12px 0 12px 12px;

}

.error-register{


    color:red;
    font-size: 15px;
}

.pannel-acc-not-valid{

    font-weight: bold;
    text-align:center;
    color:#b4ff00;
}
.pannel-disconnect{

    text-align: center;
    text-decoration: underline;
}
.error-403{
    text-align: center;
    font-weight: bold;
    color:red;
    font-size:25px;
}

.error-co{

    color:red;
    font-size: 15px;
}

.impossible-connection h1{

    font: 24px "Lato",sans-serif;
    text-align: center;
    color: #e7431a;
    text-shadow: none;
}

.impossible-connection {

    font: bold 15px "Lato",sans-serif;
    color: #333333;
    margin-bottom: 0;
    text-align: center;
}

.row {


    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

}

.col-row-1 {


}

#pannel-information{

    width: 22%;
    min-height: 300px;
    margin-top:2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: none;



}

#pannel-information-large{

    width: 30%;
    min-height: 300px;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: none;
    margin-left: 2%;
}

#pannel-info-block-1{

    background-color: #727272;
    color: #fff;
    font-family: "UnicaOne",sans-serif;
    background-size: 60px auto;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

#pannel-info-content {

    border: 1px solid #cecece;
    background: #f1f1f1;
    padding: 1.2rem;
    color: #28170F;
}

#form-recovery-pass input[type="text"]{

    background: #f4f4f4;
    border-radius: 0;
    height: 40px;
    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;
    color: #555;
    width: 260px;
}
#form-recovery-pass input[type="password"]{

    background: #f4f4f4;
    border-radius: 0;
    height: 40px;
    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;
    color: #555;
    width: 260px;
}
#form-recovery-pass,#form-connect {

    color: #000;
    font-family: "Lato",sans-serif;
    margin-left: 35px;

}

#form-recovery-pass,#form-connect a {
    color:#9c9c9a;
    text-decoration: none;

}
#form-recovery-pass a:hover{
    text-decoration: underline;
}

#form-connect a:hover{
    text-decoration: underline;
}

#form-connect input[type="text"] {

    background: #868686;
    color: #fff;
    border-radius: 0;
    height: 40px;
    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;
    opacity: 0.8;
    width: 260px;

}
#form-connect input[type="password"]{
    background: #868686;
    color: #fff;
    border-radius: 0;
    height: 40px;
    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;
    opacity: 0.8;
    width: 260px;

}

.button-valid{

    background-color: #f45c20;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    transition: all 0.3s ease;
    font-family: "UnicaOne",sans-serif;
    font-size: 25px;
    border:none;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 27px;
}

.button-valid-2{

    background-color: #f45c20;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    transition: all 0.3s ease;
    font-family: "bebas_neueregular",sans-serif;
    font-size: 17px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    /* padding: 1.2rem 3.4rem; */
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 4.0rem;
    padding-right: 4.0rem;

}

.button-valid:hover{
    background-color: #f2801b;
    transition: all 0.3s ease;
    text-decoration: none;
}
.button-valid-2:hover{

    background-color: #bfd500;
    transition: all 0.3s ease;
}

.button-valid-3{

    background-color: #f29c06;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    transition: all 0.3s ease;
    font-family: "bebas_neueregular",sans-serif;
    font-size: 17px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    /* padding: 1.2rem 3.4rem; */
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    /* padding-left: 4.0rem; */
    /* padding-right: 4.0rem; */
    /* max-width: 217px; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    margin: auto;
    width: 90%;
    border: none;

}

.button-valid-3:hover{

    background-color: #ffd200;

}


.button-valid-3 a{
    text-decoration: none;
    color:#fff;
}

.form-recovery-block{

    position: relative;
    overflow: hidden;
    min-height: 30px;
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;

}
.form-recovery-block-2{

    position: relative;
    overflow: hidden;
    min-height: 30px;
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;


}

.form-recovery-block-3{


    position: relative;
    overflow: hidden;
    min-height: 30px;
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    margin-top: 3px;
}

.error-recovery-1{

    color:red;
    font-size:15px;
}

.error-recovery-2{

    color:red;
    text-align: center;
    font-size: 20px;
}

.develop{

    width: 50%;
}

#bar-account-2 {


    background-color: #d9d9d9;
    color:#333; ;
    text-align: center;
    min-height: 30px;
    font-size:25px;
    padding: 10px;

    font-family: "bebas_neueregular",sans-serif;


}

#bar-account-3 {

    background-color: #c5d432;
    color:#fff;
    text-align: center;
    min-height: 30px;
    font-size:25px;
    padding: 10px;
    font-family: "bebas_neueregular",sans-serif;
    opacity: 0.9;


}
.title-bottom-img{
    text-align: center;
    margin-top: -2px;
}

#pannel-register{

    /*border: 1px solid #cecece;*/
    background: #f1f1f1;
    /* max-height: 399px; */
    min-width: 274px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    color: #28170F;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.9;
    border: none;


}

.erreur404{

    min-width: 0;
    min-height: 0;
}

.text-error404{

    font: 24px "Lato",sans-serif;
    color: #fff;
    text-align: center;

    min-width: 40%;
    margin-right: -35%;

}

.text-error404 h1{

    color:#bdf12d;
    font-weight: bold;

}

#block-row{
    background-color: #011933;
    min-height: auto;
    text-align: center;
    padding: 16px 24px;

    border-bottom: 4px solid #f45c20;
}
#block-row ul {
    list-style:none;
    display: flex;
    justify-content: center;
    font-size: 17px;


}

#block-row li {



}

.current{

    color:red;
    font-weight: bold;
}

#hideborder{


    background-color: #333;
    min-height: 30px;


    background-origin: unset;


}

.emailsend{

    text-align: center;
}

.id1 {

    width: 80%;
    color: #757575;
    text-align: center;
    margin-left: 10%;
}

.block-12{

    max-width: 365px;
    padding: 12px;
    font-weight: bold;
    background: #efefef;
    color: #000;
    margin: 24px auto;
    text-align: center;
    font-size: 17px;
    border: 1px solid #d0d0d0;
}


.block-33{

    position: relative;
    overflow: hidden;
    min-height: 30px;
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;


}
.block-33 a{
    text-decoration: none;
}

#menu-connection ul ul{

    display: none;
}

#menu-connection li:hover ul.niveau2{

    display: block;
}





#menu ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
#menu li {
    display:inline-block;
    float: right;
    margin-right: 1px;

}

#menu li a {
    display: block;
    min-width: 100px;
    height: 32px;
    text-align: center;
    /* line-height: 50px; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Hover state for top level links*/
#menu li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
#menu li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
#menu li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
#menu li ul li {
    display: inline-block;
    float: none;

}
/*Prevent text wrapping*/
#menu li ul li a {

    min-width: 80px;


}
/*Display the dropdown on hover*/
#menu  li a:hover + .hidden, .hidden:hover {
    display: block;
}

@media screen and (max-width: 320px) {
    .parent {
        -webkit-transform:  rotate(180deg);
        transform:  rotate(180deg);
    }

    .parent > div {
        display: block;
        margin: 0 auto 5px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

.bl-1{
    margin-top:35px;
}


header{


}

#block-11{


}

.drap-1{
    width: 30%;
    float: left;
}

.drap-2{
    width: 20%;
    float: right;
    margin-top: 11px;
}
.card-header h2{

    color: #a1a0a5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight:300;

    margin:0;
    padding: 30px;
    font-size: 30px ;
}

.row-compte{

    margin-left: 1%;
    margin-right: 1%;


}

#tab-compte {
    color:black;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}



#tab-compte tr,th{

    font-family: 'Roboto', sans-serif;
    font-weight: 300;


}

.td-1 {

    width: 75%;

}

.td-1-no-activ {

    width: 75%;
    color: red;

}

.modif-elem-ok{

    width: 2%;
}
.modif-elem-ok a{

    color: #7BBA42;
    text-decoration: none;
}
.modif-elem-ok a:hover{

    text-decoration: underline;
}

.modif-elem-no{

    color: #19c589

}

#tab-compte{

    border-top: solid 1px #9a9a9a;
    border-bottom: solid 1px #9a9a9a;
}

#tab-compte td,tr{


    padding: 20px 5px;

    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.c1{

    background-color: #e4d0d0;
}

.ak-mailsend{

    text-align: center;
    font-size: 19px;
    font-family: "bebas_neueregular",sans-serif;
    color: #848e02;
    text-transform: uppercase;
    margin: auto;
    margin-top: 2%;
    font-weight: bold;
}

#bar-progres{
    text-align: center;
    color: black;
    /* margin: auto; */
    width: 90%;
    background-color: #97A800;
    padding: 1%;

}



#bar-befpro{

    background-color: #f6f5f5;
    max-height: -1px;
    margin: auto;
    width: 40%;
    /* border: solid 1px; */
    /* border-color: black; */
    border: 1px solid #b1ac9c;
    margin-top: 2%;
}

#ak-mail-text{


    color: #56380a;
    font-family: "Roboto",sans-serif;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 24px;
}

#tab-lang{

    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    display: -webkit-inline-box;

}

#tab-lang a{

    text-decoration: none;
    color: #365899;

}
#tab-lang a:hover{
    text-decoration: underline;
}

.lang-set{
    color: #737373;
}
#footer-border{
    border-bottom: solid 1px #dddfe2;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 3px; */
    /* padding-top: 5px; */
    margin-top: 5px;
    /* margin-bottom: 10px; */
    padding-bottom: 0px;
}
.img-111{

    width: 20%;
}

.ak-block-mail{

    max-width: 400px;
    margin: 12px auto;
    color: #28170e;
}

.ak-block-mail input[type="text"]{
    background: #f4f4f4;
    border-radius: 0;
    height: 44px;

    transition: all 0.3s ease;
    border: 1px solid #c7c3b4;

}

.ak-block-mail input[type="text"]:focus{


    transition: all 0.3s ease;
    background: #e3e3e3;
}

#panel-admin{
    width: 100%;
    color: black;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;

}

#panel-admin tr,td{
    padding: 10px 5px;
    font-weight: 300;
}

.info-table{
    border-top: solid 1px black;
    border-bottom: solid 1px #9a9a9a;
    background-color: #988686;
    text-align: left;
}

.panel-td{

    width: 51%;
}

.panel-td2{


}
.c-20{
    background-color: #e4d0d0;
}

#pannel-admin option{
    color:white;

}
.c-22:hover{

    background-color: #efdddd;
}

.select-admin{

    border: none;
    padding: 2%;
    border-radius: 5px;
    overflow: none;
}

.select-admin:hover{

    background-color: #d8c5c5;

}

.select-admin:focus{

    outline:none;
}

#admin-button{



}

.button-valid-4{

    background-color: #f45c20;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    transition: all 0.3s ease;
    font-family: "bebas_neueregular",sans-serif;

    border: none;
    text-transform: uppercase;
    text-align: center;

    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;

}

.button-valid-4:hover{

    background-color: #bfd500;
    transition: all 0.3s ease;

}