* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #271d14;
    font-family: "Roboto",sans-serif;
}

.navbar-menu{
    background-color:#272727;border-color:#e7e7e7;
    width: 100%;
    margin:auto;



}


.ak-idbar{

    display:block;
    background-color: black;
    min-height: 35px;



}


.ak-idbar a {

    font-size: 10px;
    line-height: 32px;
    float: right;
    text-decoration: none;
    color: #b6b6b6;
    border-left: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;


}

.ak-idbar a:hover{
    background-color: #303030;
}

.img-responsive {
    max-height: 27px;
    max-width: 27px;
    border: 1px solid;
    float: right;

}




.navbar-nav{

    display: flex;
    padding: 1.5%;
    margin: auto;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    list-style-type: none;
    font-size: 17px;
    border-top: 3px solid #96a702;
    justify-content: center;

}
.navbar-nav a{
    text-decoration: none;
    color:white;
    font-family: "bebas_neueregular",sans-serif;

}
.navbar-nav a:hover{
    color: #97A801;
}

.navbar-nav li{

    width: 10%;
}



#logo-nav{
    float:left;
    width: 300%;
    height: auto;
    margin: auto;
}



#corps {
    border: none;
    width:85%;
    /* background-color: Aquamarine ; */
    margin: auto;
    min-height : 400px;

    box-shadow: 4px 4px 0px black;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #333;

}

#pannel-co {

    float: right;
    width: 22%;
    margin: auto;
    min-height: 300px;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #02c3d2;
}

#pannel-co p {
    text-align: center;

}
    
    

    